body {
  background-color: grey;
  background-image: url("https://i.redditmedia.com/p7ViIjR-88upwYX4naG8K1p0_9D7qILGD7Oobw2Pk1s.jpg?s=3cdc2f7566c1b293471d811910178a4c");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  
}

#landing-page {
  width: 100%;
  height: 100vh;
}

.container-fluid {
  margin: 15% auto;
  padding: 20px 0px;
  width: 25%;
  background-color:rgba(192,192,192,0.9);
  border-radius: 20px;
}

.title {
  margin: 0 auto;
  border-bottom: 1px solid black;
  widh
}
.clockFace {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size 50px;
  display: flex;
  
}

.button-row {
  display: flex;
  margin: 0 auto;
  font-size: 25px;
  
}


.rest, .set{
  display: flex;
  margin: 0 auto;
  
}

#restNum {
  margin: 3px 10px;
  
}

.set {
  margin-left: 5%;
  
}

#setNum {
  margin: 3px 10px;
  
}

.timer {
  display: flex;
  margin: 0 auto;
  font-size: 60px;
}

.btn {
  margin: 0 auto;
}



